{% extends "shared/base_publica.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}Entrar{% endblock head_title %}

{% block content %}
<div class="bg-base-200 max-h-screen">
    <div class="card w-full max-w-md p-4 bg-base-100 shadow-xl">
        <form class="card-body" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="items-center text-center">
                <img src="{% static 'imagens/logo_invertido.png' %}" 
                    alt="Logo da Pousada Chalés Água de Coco" 
                    class="mx-auto w-32 h-auto mb-4">
                    <h2 class="text-3xl font-bold tex'center">Bem-vinda</h2>
                    <h3 class="text-1xl ">Acesse sua conta para continuar</h3>
            </div>

            <div class="my-2"></div>
            {% if form.non_field_errors %}
                <div role="alert" class="alert alert-error mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{ form.non_field_errors|striptags }}</span>
                </div>
            {% endif %}
                
            {% include "shared/form_field.html" with field=form.login %}
            {% include "shared/form_field.html" with field=form.password %}
            {% include "shared/form_field.html" with field=form.remember %}
                        
            <div class="form-control w-full mt-4 text-center">
                <button type="submit" class="btn btn-xl btn-outline btn-primary text-base-content">Entrar</button>
            </div>

            <div class="text-center mt-4">
                <a href="{% url 'account_reset_password' %}" class="link link-hover text-sm underline">Esqueceu a senha?</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}