{% extends "shared/base_publica.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}Redefinir senha{% endblock head_title %}

{% block content %}
<div class="flex flex-col items-center gap-28">
    <div class="card shrink-0 max-w-xs shadow-2xl bg-base-100">
        <form method="post" class="card-body">
            <h2 class="card-title text-2xl font-bold justify-center">Esqueceu sua senha?</h2>
            <p class="text-center text-base-content/70">Digite seu e-mail cadastrado e enviaremos um link para você criar uma nova.</p>
                
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div role="alert" class="alert alert-error">
                    <span>{{ form.non_field_errors|striptags }}</span>
                </div>
            {% endif %}
            
            <div class="my-2"></div>

            {% include "shared/form_field.html" with field=form.email %}

            <div class="form-control mt-6 text-center">
                <button type="submit" class="btn btn-primary">Enviar Link de Redefinição</button>
            </div>

            <div class="text-center mt-4">
                <a href="{% url 'account_login' %}" class="link link-hover text-sm underline">Voltar para o login</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}
