{% extends "shared/base_publica.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}Redefinir senha{% endblock head_title %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-base-200">
    <div class="card w-full max-w-md shadow-xl p-8">
        <h2 class="text-2xl font-bold mb-4 text-center">Esqueci minha senha</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-control mb-8">
                <label class="label" for="{{ form.email.label_tag }}">
                    <span class="label-text">{{ form.email }}</span>
                </label>
                {% if form.email.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.email.errors }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary w-full mt-4">Enviar link de redefinição</button>
        </form>
    </div>
</div>
{% endblock %}
