{% comment %}
Template para receber um objeto de campo de formulário  'field'.
Para padronizar: o label, o input e as mensagens de erro de forma padronizada.
{% endcomment %}

{# Tratamento checkbox 'Lembre-me' #}
{% if field.name == 'remember' %}
  <div class="form-control">
    <label class="label cursor-pointer justify-start gap-4">
      {{ field }}
      <span class="label-text">{{ field.label }}</span>
    </label>
  </div>
{% else %}

  {# Tratamento padrão para todos os outros campos #}
  <div class="form-control">
    <label class="label" for="{{ field.id_for_label }}">
      <span class="label-text text-base">{{ field.label }}</span>
    </label>
    {{ field }} 
    {# Tratamento padrão para os erros dos campos #}
    {% if field.errors %}
      <label class="label">
        <span class="label-text-alt text-error font-semibold">{{ field.errors|striptags }}</span>
      </label>
    {% endif %}
  </div>
{% endif %}