{% extends "shared/base.html" %}
{% load static %}

{% block title %}Detalhes do Hóspede{% endblock %}

{% block content %}
<div class="container">

    <ul class="list-group">
        {% if hospede.cpf %}
            <li class="list-group-item"><strong>CPF:</strong> {{ hospede.cpf }}</li>
        {% else %}
            <li class="list-group-item"><strong>Número do Passaporte:</strong> {{ hospede.passaporte }}</li>
        {% endif %}
        <li class="list-group-item"><strong>Nome:</strong> {{ hospede.nome }}</li>
        <li class="list-group-item"><strong>Telefone:</strong> {{ hospede.telefone }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ hospede.email }}</li>
        <li class="list-group-item"><strong>Data de Nascimento:</strong> {{ hospede.data_nascimento|date:"d/m/Y" }}</li>
        <li class="list-group-item"><strong>Rua:</strong> {{ hospede.rua}}</li>
        <li class="list-group-item"><strong>Número:</strong> {{ hospede.numero}}</li>
        <li class="list-group-item"><strong>Complemento:</strong> {{ hospede.complemento}}</li>
        <li class="list-group-item"><strong>Bairro:</strong> {{ hospede.bairro}}</li>
        <li class="list-group-item"><strong>Cidade:</strong> {{ hospede.cidade}}</li>
        <li class="list-group-item"><strong>CEP:</strong> {{ hospede.cep}}</li>
    </ul>

    <a href="{% url 'hospede:criar' %}" class="btn btn-warning mt-3">Editar</a>
    <a href="{% url 'hospede:excluir' hospede.pk %}" class="btn btn-danger mt-3 ms-2">Excluir</a>
    <a href="{% url 'hospede:listar' %}" class="btn btn-secondary mt-3 ms-2">Voltar</a>
    <a href="{% url 'hospede:historico' hospede.pk %}" class="btn btn-primary mt-3 ms-2">Ver histórico de reservas</a>
</div>
{% endblock %}
   