{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Lista de Reservas{% endblock %}

{% block content %}
<div class="space-y-6">
    <div class="space-y-6">
    <div class="text-sm breadcrumbs justify-end">
        <ul>
            <li><a href="{% url 'index' %}">Painel Inicial</a></li>
            <li>Lista de Reservas</li>
        </ul>
    </div>
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold">Lista de Reservas</h2>
        <div>
            <a href="{% url 'reserva:criar' %}" class="btn btn-active btn-primary ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                Adicionar Reserva
            </a>
        </div>
    </div>

<div class="card bg-base-100 shadow-sm">
    <div class="card-body p-4">
        <form method="GET" action="{% url 'reserva:list' %}" class="flex flex-col sm:flex-row items-center gap-4">
            <div class="form-control w-full sm:w-auto flex-grow">
                <label class="label" for="hospede">
                    <span class="label-text">Nome do Hóspede</span>
                </label>
                <input type="text" 
                       name="hospede" 
                       id="hospede" 
                       placeholder="Buscar por nome..." 
                       class="input input-bordered"
                       value="{{ filtro_hospede|default:'' }}"> 
            </div>

            <div class="form-control w-full sm:w-auto">
                <label class="label" for="status">
                    <span class="label-text">Status da Reserva</span>
                </label>
                <select name="status" id="status" class="select select-bordered">
                    <option value="todos" {% if filtro_status == 'todos' %}selected{% endif %}>Todos os Status</option>
                    <option value="PREVISTA" {% if filtro_status == 'PREVISTA' %}selected{% endif %}>Prevista</option>
                    <option value="CONFIRMADA" {% if filtro_status == 'CONFIRMADA' %}selected{% endif %}>Confirmada</option>
                    <option value="ATIVA" {% if filtro_status == 'ATIVA' %}selected{% endif %}>Ativa</option>
                    <option value="CONCLUÍDA" {% if filtro_status == 'CONCLUÍDA' %}selected{% endif %}>Concluída</option>
                    <option value="CANCELADA" {% if filtro_status == 'CANCELADA' %}selected{% endif %}>Cancelada</option>
                </select>
            </div>

            <div class="form-control w-full sm:w-auto">
                <label class="label" for="quarto">
                    <span class="label-text">Quarto</span>
                </label>
                <select name="quarto" id="quarto" class="select select-bordered">
                    <option value="todos">Todos os Quartos</option>
                    {% for quarto in quartos %}
                        <option value="{{ quarto.id }}" {% if quarto.id|stringformat:"s" == filtro_quarto %}selected{% endif %}>
                        {{ quarto }}  </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-control w-full sm:w-auto mt-auto">
                <button type="submit" class="btn btn-secondary w-full">Filtrar</button>
            </div>
            
        </form>
    </div>
</div>

    <div class="overflow-x-auto bg-base-100 rounded-lg shadow ">
        <table class="table items-center text-center">
            <thead>
                <tr class="bg-base-200 ">
                    <th>ID</th>
                    <th>Hóspede</th>
                    <th>Quarto</th>
                    <th>Data Reserva</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr class="hover">
                    <td>{{ reserva.id }}</td>
                    <td>{{ reserva.id_hospede.nome }}</td>
                    <td>{{ reserva.id_quarto.numero }}</td>
                    <td>{{ reserva.data_reserva_inicio }}</td>
                    <td>{{ reserva.data_check_in }}</td>
                    <td>{{ reserva.data_check_out }}</td>
                    <td>R$ {{ reserva.valor }}</td>
                    <td >
                    {% if reserva.status == 'CANCELADA' %}
                        <a href="#" class="cancelamento-link badge badge-outline badge-error" 
                            data-motivo="{{ reserva.motivo_cancelamento }}">
                            {{ reserva.get_status_display }}
                        </a>
                    {% else %}
                        {{ reserva.get_status_display }}
                    {% endif %}
                    </td>
                    <td class="flex gap-2">
                        {% if reserva.status not in 'CANCELADA' and reserva.status not in 'CONCLUIDA' %}
            
                            <a href="{% url 'reserva:editar' reserva.id %}" class="btn btn-warning btn-sm" title="Editar Reserva">
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                </svg>
                            </a>
                        {% else %}
                            <span class="btn btn-warning btn-sm btn-disabled" title="Não pode ser editada">Editar</span>
                        {% endif %}
                        {% if reserva.status == 'CANCELADA' or reserva.status == 'CONCLUIDA' %}
                            <button class="btn btn-error btn-sm btn-disabled" title="Ação indisponível">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                </svg>
                            </button>
                        {% elif reserva.data_check_in or reserva.data_check_out %}
                            <button class="btn btn-error btn-sm btn-disabled" title="Reserva em andamento ou finalizada">
                                <i class="fas fa-trash">Cancelar</i>
                            </button>
                        {% else %}
                            <button onclick="abrirModalCancelamento('{{ reserva.id }}')" class="btn btn-error btn-sm" title="Cancelar Reserva">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                </svg>
                            </button>
                        {% endif %}    
                        <!--Botão de envio de email de confirmação-->
                        {% if reserva.status == 'CONFIRMADA' %}
                            {% if not reserva.email_confirmacao_enviado %}
                                <form id="form-email-{{ reserva.id }}" action="{% url 'reserva:enviar_confirmacao_email' reserva.id %}" method="POST" class="m-0">
                                {% csrf_token %}
                                    <button type="button"
                                            class="btn btn-info btn-sm btn-abrir-modal-email flex items-center gap-2 whitespace-nowrap break-normal hyphens-none"
                                            title="Enviar confirmação por e-mail"
                                            data-hospede-nome="{{ reserva.id_hospede.nome }}"
                                            data-form-id="form-email-{{ reserva.id }}"
                                            data-action-text="enviar">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                                            </svg>
                                        </span>
                                    </button>
                                </form>
                                {% else %}
                                <div class="flex items-center gap-2">
                                    <div class="tooltip" data-tip="E-mail de confirmação já enviado">
                                        <span class="text-success"><i class="fas fa-check-circle fa-lg"></i></span>
                                    </div>
                                    
                                    <form id="form-reenviar-email-{{ reserva.id }}" action="{% url 'reserva:enviar_confirmacao_email' reserva.id %}" method="POST" class="m-0">
                                    {% csrf_token %}
                                        <button type="button"
                                            class="btn btn-ghost btn-xs btn-abrir-modal-email"
                                            title="Reenviar e-mail de confirmação"
                                            data-hospede-nome="{{ reserva.id_hospede.nome }}"
                                            data-form-id="form-reenviar-email-{{ reserva.id }}"
                                            data-action-text="reenviar">
                                            Reenviar
                                        </button>
                                    </form>
                                </div>
                            {% endif %}    
                        {% endif %}
                    </td>
                </tr>  
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center text-gray-500">Nenhuma reserva cadastrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="modal-motivo" class="modal"> 
    <div class="modal-box">
        <div class="flex justify-between items-start">
            <h3 class="font-bold text-lg mr-4">Motivo do Cancelamento</h3>
            <button id="fechar-motivo-btn" class="btn btn-sm btn-circle btn-ghost">✕</button>
        </div>
        
        <p id="motivo-texto" class="py-4 text-base-content"></p>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button id="fechar-backdrop-motivo"></button>
    </form>
</div>


<!--Janela Flutuante para confirmar envio do email de confirmação da reserva-->
<dialog id="modal_confirmar_email" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Confirmar Envio</h3>
    <p class="py-4">
        Você tem certeza que deseja <strong id="modal_action_text" class="text-info"></strong> o e-mail para
        <strong id="modal_hospede_nome" class="text-primary"></strong>?
    </p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
            </svg>
        </button>
      </form>
      <button id="modal_botao_confirmar" class="btn btn-info">Sim, Enviar</button>
    </div>
  </div>
</dialog>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    
    const modalMotivo = document.getElementById('modal-motivo');
    const motivoTexto = document.getElementById('motivo-texto'); 
    const fecharBtnMotivo = document.getElementById('fechar-motivo-btn');
    const links = document.querySelectorAll('.cancelamento-link');
    const modalBackdropMotivo = modalMotivo.querySelector('.modal-backdrop');
    
    function fecharModalMotivo() {
        modalMotivo.classList.remove('modal-open');
    }
    
    links.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault(); 
            const motivo = this.getAttribute('data-motivo'); 
            motivoTexto.textContent = motivo;
            modalMotivo.classList.add('modal-open');
        });
    });

    modalMotivo.addEventListener('click', function(e) {
        if (e.target === modalMotivo) {
            fecharModalMotivo();
        }
    });

    if (fecharBtnMotivo) {
        fecharBtnMotivo.addEventListener('click', fecharModalMotivo);
    }
    
    if (modalBackdropMotivo) {
        modalBackdropMotivo.addEventListener('click', fecharModalMotivo);
    }
}); 

//MODAL: ENVIO DE EMAIL DE CONFIRMAÇÃO DE RESERVA
document.addEventListener('DOMContentLoaded', function() {
    const modal = document.getElementById('modal_confirmar_email');
    const hospedeNomeEl = document.getElementById('modal_hospede_nome');
    const actionTextEl = document.getElementById('modal_action_text');
    const botaoConfirmar = document.getElementById('modal_botao_confirmar');
    const botoesAbrir = document.querySelectorAll('.btn-abrir-modal-email');
    botoesAbrir.forEach(botao => {
        botao.addEventListener('click', function() {
            const hospedeNome = botao.dataset.hospedeNome;
            const formId = botao.dataset.formId;
            const actionText = botao.dataset.actionText;


            hospedeNomeEl.textContent = hospedeNome;
            actionTextEl.textContent = actionText;


            modal.showModal();
            botaoConfirmar.onclick = function() {
                document.getElementById(formId).submit();
            };
        });
    });
});
</script>

<div id="modal-cancelamento" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50">
    <div class="bg-base-300 rounded-lg shadow-lg p-6 w-1/3 max-w-lg">
        <h3 class="text-base-content text-xl font-bold mb-4">Motivo do Cancelamento</h3>
        <p class="mb-4">Por favor, explique o motivo do cancelamento da reserva.</p>
        <form id="form-cancelamento" method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="reserva_id" id="reserva-id-input">
            <div class="mb-4">
                <label for="motivo_cancelamento" class="block text-sm font-medium text-gray-700">Motivo:</label>
                <textarea id="motivo_cancelamento" name="motivo_cancelamento" rows="4" class="textarea w-full" required></textarea>
            </div>
            <div class="flex justify-end gap-2">
                <button type="button" onclick="fecharModalCancelamento()" class="btn btn-ghost">Cancelar</button>
                <button type="submit" class="btn btn-error">Confirmar Cancelamento</button>
            </div>
        </form>
    </div>
</div>

<script>
    function abrirModalCancelamento(reservaId) {
        const modal = document.getElementById('modal-cancelamento');
        const form = document.getElementById('form-cancelamento');

        document.getElementById('reserva-id-input').value = reservaId;

        form.action = `{% url 'reserva:cancelar' pk=0 %}`.replace('0', reservaId);

        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }

    function fecharModalCancelamento() {
        const modal = document.getElementById('modal-cancelamento');
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    }
</script>

{% endblock %}