{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Lista de Reservas{% endblock %}

{% block content %}
<div class="space-y-6">
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold">Lista de Reservas</h2>
        <a href="{% url 'reserva:form' %}" class="btn btn-success">
            <i class="fas fa-plus mr-2"></i>Adicionar Reserva
        </a>
    </div>

    <div class="overflow-x-auto bg-base-100 rounded-lg shadow">
        <table class="table">
            <thead>
                <tr class="bg-base-200">
                    <th>ID</th>
                    <th>Hóspede</th>
                    <th>Quarto</th>
                    <th>Data Reserva</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr class="hover">
                    <td>{{ reserva.id }}</td>
                    <td>{{ reserva.id_hospede.nome }}</td>
                    <td>{{ reserva.id_quarto.numero }}</td>
                    <td>{{ reserva.data_reserva_inicio }}</td>
                    <td>{{ reserva.data_check_in }}</td>
                    <td>{{ reserva.data_check_out }}</td>
                    <td>R$ {{ reserva.valor }}</td>
                    <td class="flex gap-2">
                        <a href="{% url 'reserva:update' reserva.id %}" class="btn btn-warning btn-sm" title="Editar Reserva">
                            <i class="fas fa-edit">Editar</i>
                        </a>
                        <button onclick="confirmarExclusao('{{ reserva.id }}')" class="btn btn-error btn-sm" title="Excluir Reserva">
                            <i class="fas fa-trash">Excluir</i>
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center text-gray-500">Nenhuma reserva cadastrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function confirmarExclusao(reservaId) {

        const modal = document.getElementById('modal-excluir');
        const btnConfirmar = document.getElementById('btn-confirmar');
        btnConfirmar.href = `{% url 'reserva:delete' 0 %}`.replace('0', reservaId);
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }
    function fecharModal() {
        const modal = document.getElementById('modal-excluir');
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    }
</script>
{% endblock %}
